##################################################################################
### Copyright 2014 OPPO Mobile Comm Corp., Ltd.
### All rights reserved.
###
### Description     : Provide a function to critical service
### History          :( ID, Date, Author, Description)
### Author: Chunbo.Gao@ANDROID.DEBUG
##################################################################################

service transfer_log /system/system_ext/bin/autochmod.sh "tranfer2"
    class core
    user root
    group root system bluetooth wifi everybody log
    disabled
    oneshot

service transfer_system /system/system_ext/bin/autochmod.sh "transfersystem"
    class core
    user system
    group root system wifi sdcard_rw
    disabled
    oneshot

service transfer_root /system/system_ext/bin/autochmod.sh "transferroot"
    class core
    user root
    group root system shell everybody sdcard_rw log
    disabled
    oneshot
